body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}


.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-body {
    text-align: center; 
}

